#iAmTheDiv {
    border-width: 5px;
    border-style: solid;
}

#iAmTheDiv2 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.card {
    display: inline-block;
    text-align: center;
    background-color: grey;
    border-width: 5px;
    border-style: solid;
    padding: 25px;
}

.center {
    display: block;
    max-width: 300px;
    margin: auto;      
}